# Go binaries
/hive
bin/
.cache/

# Test binaries
*.test
*.prof

# Data and Logs
.hive_data/
swarm_logs/
*.log
.agent/
openspec/
AGENT.md

# OS Specific
.DS_Store

# Docs
The_Hive_Docs_EE/
The_Hive_Docs_CE/

